name: test
on:
  push:
    branches: [ master ]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout back
        uses: actions/checkout@v2
      - name: Checkout tests
        uses: actions/checkout@master
        with:
          repository: apenkov/simpleTestForSimpleServer
          path: './tests'
      - name: build Docker images
        run: |
          docker build . --file Dockerfile -t back:latest
          docker build . --file ./tests/Dockerfile -t tests:latest
      - name: Tests
        run: |
          ls
          docker-compose up --exit-code-from tests
